header{
  background-color:#000fff;
  font-size: 33px;
  color:white;
  font-weight: bold;
  text-align: center;
}
a{
  font-size:60px;
  margin-left:80%;
}
/* form stylesheet*/
.main{
  display:flex;
  flex-wrap:wrap;
  width:90%;
  text-align: center;
  justify-content: space-around;
}
  .career{
    width: 90%;
    background-color:cyan;
    margin:1%;
    padding:1%;
    text-align: center;
    border:3px solid #000000;
    box-shadow: 3px 3px 3px 3px #000;
  }
  .career input{
    width:80%;
  }
  .sub{
    width:40%;
    background-color: cyan;
    margin:1%;
    padding:1%;
    text-align: center;
    border:3px solid #000000;
    border-shadow:3px 3px 3px 3px #000;

  }
  .sub input,.sub select{
    width:90%;
    padding:1%;
    margin:1%;
    font-size: 1em;
  }
  button{
    font-size: 23px;
    font-weight:bold;
    padding:1%;
    color:#fff;
    background:#000; 
  }
